@font-face {
    font-family: Raleway;
    src: url('fonts/static/Raleway-Regular.ttf');
}

@font-face {
    font-family: RalewayBold;
    src: url('fonts/static/Raleway-Bold.ttf');
}

body {
  font-family: Raleway;
}

#header h2 {
    font-size: 72pt;
    color:blue;
}

footer {
    text-align:center;
}

.topbar {
  overflow: hidden;
  background-color:#333;
}

.topbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topbar a:hover {
  background-color: #111;
  color: white;
}

.topbar a.active {
  background-color:#ff6633 ;
  color: white;
}

.topbar .search-container {
  float: right;
}

.topbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 14.6px;
  border: none;
  cursor: pointer;
}

.topbar .search-container button:hover {
  background: #ccc;
}

