@font-face {
    font-family: Raleway;
    src: url('fonts/static/Raleway-Regular.ttf');
}

@font-face {
    font-family: RalewayBold;
    src: url('fonts/static/Raleway-Bold.ttf');
}

body {
  font-family: Raleway;
}

#header h2 {
    font-size: 72pt;
    color:blue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}

.active {
    background-color:#ff6633;
}

form {
    border: 3px solid #f1f1f1;
    width: 25%;
    
}
.container {
  padding: 16px;
}
.iconologin {
  text-align: center;
  margin: 8px 0 10px 0;
}

.icono {
  width: 25%;
  border-radius: 30%;
}
input[type=text], input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;

  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
}

button:hover {
  opacity: 0.6;
}

footer {
    text-align:center;
}
