/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/05/2021, 07:25:22 PM
    Author     : ksand
*/
.admin {
    border: 3px solid #f1f1f1;
    width: 25%;
    
}

.admin input[type=text], input[type=number] {
  padding: 16px;
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;

  border: 1px solid #ccc;
  box-sizing: border-box;
}

.admin input[type=submit] {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
}
.admin input[type=submit]:hover {
  opacity: 0.6;
}