/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/04/2021, 05:02:56 PM
    Author     : ksand
*/
#adminfunc form {
    border: 3px solid #f1f1f1;
    width: 30%;  
}

#adminfunc .container {
  padding: 16px;
}

/* estilo para los campos para ingresar informacion*/
#adminfunc input[type=text] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#adminfunc input[type=number]{
    width: 90%;
  padding: 12px 20px;
  margin: 8px 0;

  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*estilo del boton para ingresar*/
#adminfunc button {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
}

#adminfunc button:hover {
  opacity: 0.6;
}

  /* estilo para los campos para ingresar informacion*/
#adminfunc input[type=submit] {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
}

.Opciones {
  background-color: #333;
  color: white;
  padding: 6px 10px;
  margin: 20px 2px;
  border: none;
  text-decoration: none;
  width: 20%;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
}

.Opciones:hover {
    opacity: 0.6;
}

table {
  margin: 15px 0px;
  width: 90%;
  border: 1px solid black;
  text-align: center;
}

th {
  height: 50px;
}

td {
  height: 30px;
}

.buscar {
    width: 100%;
    display:flex;
    border:none;
}


.formbuscar {
    display: flex;
    padding-left: 515px;
    border: none;
}





.topbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 14.6px;
  border: none;
  cursor: pointer;
}



.topbar .search-container {
  float: right;
}

.topbar .search-container button:hover {
  background: #ccc;
}

