/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/04/2021, 05:02:56 PM
    Author     : ksand
*/
form {
    border: 3px solid #f1f1f1;
    width: 30%;  
}

.container {
  padding: 16px;
}

/* estilo para los campos para ingresar informacion*/
input[type=text] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;

  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*estilo del boton para ingresar*/
button {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
}

button:hover {
  opacity: 0.6;
}